.calendar {
	top: 0em;
	left: 1em;
	padding-top: 5px;
	width: 80px;
	background: #ededef;
	font-size: 54px;
	text-align: center;
	color: #000;
	z-index: initial;
	border-radius: 3px;
	position: absolute;
}

.calendar em {
	display: block;
	font-size: 15px;
	color: #fff;
	background: #04599a;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.calendar:before {
	content: "";
	float: left;
	width: 8px;
	height: 8px;
	background: #111;
	z-index: 2;
	border-radius: 10px;
	box-shadow: 0 1px 1px #fff;
	position: absolute;
}

.calendar:after {
	content: "";
	float: right;
	width: 8px;
	height: 8px;
	background: #111;
	z-index: 2;
	border-radius: 10px;
	box-shadow: 0 1px 1px #fff;
	position: absolute;
}
.calendar:before {
	left: 11px;
	top: 11px;
}
.calendar:after {
	right: 11px;
	top: 11px;
}

.calendar em:before {
	content: "";
	float: left;
	margin: -1px 2px 2px 1px;
	width: 4px;
	height: 14px;
	background: gray;
	z-index: 3;
	position: absolute;
	border-radius: 3px;
}

.calendar em:after {
	content: "";
	float: right;
	margin: -1px 10px 2px 1px;
	width: 4px;
	height: 14px;
	background: gray;
	z-index: 3;
	position: absolute;
	border-radius: 3px;
}
.calendar em:before {
	left: 11px;
	top: 2px;
}
.calendar em:after {
	right: 3px;
	top: 2px;
}
